{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col">
        <h2>Factions of the Galaxy</h2>
        <ul>
            {% for nation in nations %}
                <li><a href="{{ url_for('nation', name = nation.name) }}">{{ nation.name | title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col">
        <h2>Species of the Galaxy</h2>
        <ul>
            {% for species in species %}
                <li><a href="{{ url_for('species', name = species.name) }}">{{ species.name | title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}