# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\hunterwille\Downloads\youtube_video_code-master\youtube_video_code-master\2020\02\11\Creating a Poll App in Django\poll_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
